USE [master]
GO
/****** Object:  Database [ChamCong]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ChamCong')
BEGIN
CREATE DATABASE [ChamCong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChamCong_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ChamCong.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChamCong_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ChamCong.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChamCong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChamCong]
GO
/****** Object:  Schema [att]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'att')
EXEC sys.sp_executesql N'CREATE SCHEMA [att]'
GO
/****** Object:  Schema [pay]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'pay')
EXEC sys.sp_executesql N'CREATE SCHEMA [pay]'
GO
/****** Object:  UserDefinedFunction [att].[fn_LateMinutes]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[fn_LateMinutes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE   FUNCTION [att].[fn_LateMinutes]
(
    @WorkDate DATE,
    @ShiftStart TIME(0),
    @CheckInTime DATETIME2(0)
)
RETURNS INT
AS
BEGIN
    IF @CheckInTime IS NULL RETURN 0;

    DECLARE @ShiftStartDateTime DATETIME2(0) =
        DATEADD(MINUTE, DATEDIFF(MINUTE, 0, @ShiftStart), CAST(@WorkDate AS DATETIME2(0)));

    DECLARE @late INT = DATEDIFF(MINUTE, @ShiftStartDateTime, @CheckInTime);
    IF @late < 0 SET @late = 0;
    RETURN @late;
END' 
END
GO
/****** Object:  Table [pay].[PayRateMultipliers]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[PayRateMultipliers]') AND type in (N'U'))
BEGIN
CREATE TABLE [pay].[PayRateMultipliers](
	[WorkDate] [date] NOT NULL,
	[Multiplier] [decimal](5, 2) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_PayRateMultipliers] PRIMARY KEY CLUSTERED 
(
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [att].[AttendanceRecords]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[AttendanceRecords]') AND type in (N'U'))
BEGIN
CREATE TABLE [att].[AttendanceRecords](
	[AttendanceRecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[CheckInTime] [datetime2](0) NULL,
	[CheckOutTime] [datetime2](0) NULL,
	[MinutesWorked] [int] NULL,
	[Status] [tinyint] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVer] [timestamp] NOT NULL,
	[ShiftId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AttRec] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[WorkDate] ASC,
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PinSalt] [varbinary](16) NULL,
	[PinHash] [varbinary](32) NULL,
	[PinChangedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ShiftTemplates]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ShiftTemplates]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ShiftTemplates](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftCode] [nvarchar](20) NOT NULL,
	[ShiftName] [nvarchar](100) NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[BreakMinutes] [int] NOT NULL,
	[GraceBeforeMinutes] [int] NOT NULL,
	[GraceAfterMinutes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_ShiftTemplates] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  View [pay].[vw_PayrollPreview]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[pay].[vw_PayrollPreview]'))
EXEC dbo.sp_executesql @statement = N'CREATE   VIEW [pay].[vw_PayrollPreview]
AS
SELECT
    ar.EmployeeId,
    e.EmployeeCode,
    e.FullName,
    ar.WorkDate,

    s.ShiftCode,
    ar.CheckInTime,
    ar.CheckOutTime,
    ar.MinutesWorked,

    CAST(att.fn_LateMinutes(ar.WorkDate, s.StartTime, ar.CheckInTime) AS INT) AS LateMinutes,

    CAST(ISNULL(m.Multiplier, 1.00) AS DECIMAL(5,2)) AS PayMultiplier,

    -- GrossPay đã nhân hệ số
    CAST(
        ROUND( (ar.MinutesWorked / 60.0) * e.HourlyRate * ISNULL(m.Multiplier, 1.00), 0)
        AS DECIMAL(18,2)
    ) AS GrossPay,

    CAST(
        CASE
            WHEN att.fn_LateMinutes(ar.WorkDate, s.StartTime, ar.CheckInTime) * 1000 < 0 THEN 0
            ELSE att.fn_LateMinutes(ar.WorkDate, s.StartTime, ar.CheckInTime) * 1000
        END
        AS DECIMAL(18,2)
    ) AS PenaltyAmount,

    CAST(
        ROUND( (ar.MinutesWorked / 60.0) * e.HourlyRate * ISNULL(m.Multiplier, 1.00), 0)
        - CASE
            WHEN att.fn_LateMinutes(ar.WorkDate, s.StartTime, ar.CheckInTime) * 1000 < 0 THEN 0
            ELSE att.fn_LateMinutes(ar.WorkDate, s.StartTime, ar.CheckInTime) * 1000
          END
        AS DECIMAL(18,2)
    ) AS NetPay
FROM att.AttendanceRecords ar
JOIN dbo.Employees e ON e.EmployeeId = ar.EmployeeId
JOIN dbo.ShiftTemplates s ON s.ShiftId = ar.ShiftId   -- bạn đã chuyển sang ShiftTemplates
LEFT JOIN pay.PayRateMultipliers m ON m.WorkDate = ar.WorkDate
WHERE ar.Status = 1 AND ar.MinutesWorked IS NOT NULL;
' 
GO
/****** Object:  Table [dbo].[EmployeeSchedules]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeSchedules](
	[ScheduleId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_EmployeeSchedules] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  UserDefinedFunction [att].[fn_ResolveShiftForCheckIn]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[fn_ResolveShiftForCheckIn]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [att].[fn_ResolveShiftForCheckIn]
(
    @EmployeeId BIGINT,
    @EventTime  DATETIME2(0)
)
RETURNS TABLE
AS
RETURN
(
    WITH cand AS
    (
        -- Ca của ngày @EventTime
        SELECT
            es.ShiftId,
            es.WorkDate,
            s.BreakMinutes,
            StartDT = CAST(DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.StartTime), CAST(es.WorkDate AS DATETIME2(0))) AS DATETIME2(0)),
            EndDT   = CAST(
                        CASE
                            WHEN s.StartTime <= s.EndTime
                                THEN DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.EndTime), CAST(es.WorkDate AS DATETIME2(0)))
                            ELSE
                                DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.EndTime), CAST(DATEADD(DAY,1,es.WorkDate) AS DATETIME2(0)))
                        END
                     AS DATETIME2(0)),
            s.GraceBeforeMinutes,
            s.GraceAfterMinutes
        FROM dbo.EmployeeSchedules es
        JOIN dbo.ShiftTemplates s
          ON s.ShiftId = es.ShiftId AND s.IsActive = 1
        WHERE es.EmployeeId = @EmployeeId
          AND es.WorkDate   = CAST(@EventTime AS DATE)

        UNION ALL

        -- Ca qua đêm của ngày hôm trước (nếu @EventTime rơi vào phần “sáng hôm sau”)
        SELECT
            es.ShiftId,
            es.WorkDate,
            s.BreakMinutes,
            StartDT = CAST(DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.StartTime), CAST(es.WorkDate AS DATETIME2(0))) AS DATETIME2(0)),
            EndDT   = CAST(DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.EndTime), CAST(DATEADD(DAY,1,es.WorkDate) AS DATETIME2(0))) AS DATETIME2(0)),
            s.GraceBeforeMinutes,
            s.GraceAfterMinutes
        FROM dbo.EmployeeSchedules es
        JOIN dbo.ShiftTemplates s
          ON s.ShiftId = es.ShiftId AND s.IsActive = 1
        WHERE es.EmployeeId = @EmployeeId
          AND es.WorkDate   = DATEADD(DAY, -1, CAST(@EventTime AS DATE))
          AND s.StartTime > s.EndTime  -- qua đêm
    ),
    hit AS
    (
        SELECT *
        FROM cand
        WHERE @EventTime BETWEEN DATEADD(MINUTE, -GraceBeforeMinutes, StartDT)
                           AND     DATEADD(MINUTE,  GraceAfterMinutes, EndDT)
    )
    SELECT TOP 1
        ShiftId,
        WorkDate,
        BreakMinutes
    FROM hit
    ORDER BY StartDT DESC
);
' 
END
GO
/****** Object:  UserDefinedFunction [att].[fn_ResolveShiftForCheckOut]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[fn_ResolveShiftForCheckOut]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [att].[fn_ResolveShiftForCheckOut]
(
    @EmployeeId BIGINT,
    @EventTime  DATETIME2(0)
)
RETURNS TABLE
AS
RETURN
(
    WITH cand AS
    (
        SELECT
            es.ShiftId,
            es.WorkDate,
            s.BreakMinutes,
            StartDT = CAST(DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.StartTime), CAST(es.WorkDate AS DATETIME2(0))) AS DATETIME2(0)),
            EndDT   = CAST(
                        CASE
                            WHEN s.StartTime <= s.EndTime
                                THEN DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.EndTime), CAST(es.WorkDate AS DATETIME2(0)))
                            ELSE
                                DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.EndTime), CAST(DATEADD(DAY,1,es.WorkDate) AS DATETIME2(0)))
                        END
                     AS DATETIME2(0)),
            s.GraceBeforeMinutes,
            s.GraceAfterMinutes
        FROM dbo.EmployeeSchedules es
        JOIN dbo.ShiftTemplates s
          ON s.ShiftId = es.ShiftId AND s.IsActive = 1
        WHERE es.EmployeeId = @EmployeeId
          AND es.WorkDate   = CAST(@EventTime AS DATE)

        UNION ALL

        SELECT
            es.ShiftId,
            es.WorkDate,
            s.BreakMinutes,
            StartDT = CAST(DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.StartTime), CAST(es.WorkDate AS DATETIME2(0))) AS DATETIME2(0)),
            EndDT   = CAST(DATEADD(SECOND, DATEDIFF(SECOND,''00:00:00'', s.EndTime), CAST(DATEADD(DAY,1,es.WorkDate) AS DATETIME2(0))) AS DATETIME2(0)),
            s.GraceBeforeMinutes,
            s.GraceAfterMinutes
        FROM dbo.EmployeeSchedules es
        JOIN dbo.ShiftTemplates s
          ON s.ShiftId = es.ShiftId AND s.IsActive = 1
        WHERE es.EmployeeId = @EmployeeId
          AND es.WorkDate   = DATEADD(DAY, -1, CAST(@EventTime AS DATE))
          AND s.StartTime > s.EndTime
    ),
    hit AS
    (
        SELECT *
        FROM cand
        WHERE @EventTime BETWEEN StartDT AND DATEADD(MINUTE, GraceAfterMinutes, EndDT)
    )
    SELECT TOP 1
        ShiftId,
        WorkDate,
        BreakMinutes
    FROM hit
    ORDER BY StartDT DESC
);
' 
END
GO
/****** Object:  Table [att].[AttendanceEvents]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[AttendanceEvents]') AND type in (N'U'))
BEGIN
CREATE TABLE [att].[AttendanceEvents](
	[AttendanceEventId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[KioskDeviceId] [bigint] NOT NULL,
	[EventType] [tinyint] NOT NULL,
	[EventTime] [datetime2](0) NOT NULL,
	[OtpCounter] [bigint] NULL,
	[ClientIp] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](300) NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AppAdminPin]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppAdminPin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AppAdminPin](
	[Id] [int] NOT NULL,
	[PinHash] [varbinary](32) NOT NULL,
	[PinSalt] [varbinary](16) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AppAdminPin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EmployeeDevices]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDevices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeDevices](
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[DeviceToken] [nvarchar](64) NOT NULL,
	[DeviceLabel] [nvarchar](512) NULL,
	[FirstSeenAt] [datetime2](7) NOT NULL,
	[LastSeenAt] [datetime2](7) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[RevokedAt] [datetime2](7) NULL,
	[RevokedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmployeeDevices] PRIMARY KEY CLUSTERED 
(
	[EmployeeCode] ASC,
	[DeviceToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KioskDevices]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KioskDevices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KioskDevices](
	[KioskDeviceId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceGuid] [uniqueidentifier] NOT NULL,
	[DeviceCode] [nvarchar](50) NOT NULL,
	[DeviceName] [nvarchar](200) NOT NULL,
	[SharedSecret] [varbinary](64) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastSeenAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KioskDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DeviceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](256) NOT NULL,
	[PasswordSalt] [varbinary](64) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[IsOwner] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [pay].[PayrollBatches]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[PayrollBatches]') AND type in (N'U'))
BEGIN
CREATE TABLE [pay].[PayrollBatches](
	[PayrollBatchId] [bigint] IDENTITY(1,1) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[CreatedByUserId] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollBatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [pay].[PayrollLines]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[PayrollLines]') AND type in (N'U'))
BEGIN
CREATE TABLE [pay].[PayrollLines](
	[PayrollLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[PayrollBatchId] [bigint] NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TotalMinutes] [int] NOT NULL,
	[GrossPay] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
	[LateMinutes] [int] NOT NULL,
	[PenaltyAmount] [decimal](18, 2) NOT NULL,
	[NetPay] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PayLines] UNIQUE NONCLUSTERED 
(
	[PayrollBatchId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_AttEvents_EmpTime]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[att].[AttendanceEvents]') AND name = N'IX_AttEvents_EmpTime')
CREATE NONCLUSTERED INDEX [IX_AttEvents_EmpTime] ON [att].[AttendanceEvents]
(
	[EmployeeId] ASC,
	[EventTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttRec_Date]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[att].[AttendanceRecords]') AND name = N'IX_AttRec_Date')
CREATE NONCLUSTERED INDEX [IX_AttRec_Date] ON [att].[AttendanceRecords]
(
	[WorkDate] ASC,
	[EmployeeId] ASC,
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttRec_EmpDate]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[att].[AttendanceRecords]') AND name = N'IX_AttRec_EmpDate')
CREATE NONCLUSTERED INDEX [IX_AttRec_EmpDate] ON [att].[AttendanceRecords]
(
	[EmployeeId] ASC,
	[WorkDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeDevices_Employee_Approved]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDevices]') AND name = N'IX_EmployeeDevices_Employee_Approved')
CREATE NONCLUSTERED INDEX [IX_EmployeeDevices_Employee_Approved] ON [dbo].[EmployeeDevices]
(
	[EmployeeCode] ASC,
	[IsApproved] ASC,
	[RevokedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Employees_EmployeeCode_NotNull]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND name = N'UX_Employees_EmployeeCode_NotNull')
CREATE UNIQUE NONCLUSTERED INDEX [UX_Employees_EmployeeCode_NotNull] ON [dbo].[Employees]
(
	[EmployeeCode] ASC
)
WHERE ([EmployeeCode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeSchedules_Employee_WorkDate]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]') AND name = N'IX_EmployeeSchedules_Employee_WorkDate')
CREATE NONCLUSTERED INDEX [IX_EmployeeSchedules_Employee_WorkDate] ON [dbo].[EmployeeSchedules]
(
	[EmployeeId] ASC,
	[WorkDate] ASC
)
INCLUDE([ShiftId],[Note]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeSchedules_WorkDate]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]') AND name = N'IX_EmployeeSchedules_WorkDate')
CREATE NONCLUSTERED INDEX [IX_EmployeeSchedules_WorkDate] ON [dbo].[EmployeeSchedules]
(
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_EmployeeSchedules_Employee_Date_Shift]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]') AND name = N'UX_EmployeeSchedules_Employee_Date_Shift')
CREATE UNIQUE NONCLUSTERED INDEX [UX_EmployeeSchedules_Employee_Date_Shift] ON [dbo].[EmployeeSchedules]
(
	[EmployeeId] ASC,
	[WorkDate] ASC,
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ShiftTemplates_ShiftCode]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ShiftTemplates]') AND name = N'UX_ShiftTemplates_ShiftCode')
CREATE UNIQUE NONCLUSTERED INDEX [UX_ShiftTemplates_ShiftCode] ON [dbo].[ShiftTemplates]
(
	[ShiftCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_PayrollBatches_Period]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[pay].[PayrollBatches]') AND name = N'UX_PayrollBatches_Period')
CREATE UNIQUE NONCLUSTERED INDEX [UX_PayrollBatches_Period] ON [pay].[PayrollBatches]
(
	[PeriodStart] ASC,
	[PeriodEnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PayLines_Batch]    Script Date: 2/4/2026 10:44:51 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[pay].[PayrollLines]') AND name = N'IX_PayLines_Batch')
CREATE NONCLUSTERED INDEX [IX_PayLines_Batch] ON [pay].[PayrollLines]
(
	[PayrollBatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[DF_AttEvents_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [att].[AttendanceEvents] ADD  CONSTRAINT [DF_AttEvents_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[DF_AttRec_Status]') AND type = 'D')
BEGIN
ALTER TABLE [att].[AttendanceRecords] ADD  CONSTRAINT [DF_AttRec_Status]  DEFAULT ((1)) FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[DF_AttRec_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [att].[AttendanceRecords] ADD  CONSTRAINT [DF_AttRec_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_AppAdminPin_UpdatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AppAdminPin] ADD  CONSTRAINT [DF_AppAdminPin_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EmployeeDevices_FirstSeenAt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EmployeeDevices] ADD  CONSTRAINT [DF_EmployeeDevices_FirstSeenAt]  DEFAULT (sysutcdatetime()) FOR [FirstSeenAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EmployeeDevices_LastSeenAt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EmployeeDevices] ADD  CONSTRAINT [DF_EmployeeDevices_LastSeenAt]  DEFAULT (sysutcdatetime()) FOR [LastSeenAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EmployeeDevices_IsApproved]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EmployeeDevices] ADD  CONSTRAINT [DF_EmployeeDevices_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Employees_IsActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [IsActive]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Employees_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_EmployeeSchedules_Created]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EmployeeSchedules] ADD  CONSTRAINT [DF_EmployeeSchedules_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KioskDevices_Guid]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KioskDevices] ADD  CONSTRAINT [DF_KioskDevices_Guid]  DEFAULT (newid()) FOR [DeviceGuid]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KioskDevices_IsActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KioskDevices] ADD  CONSTRAINT [DF_KioskDevices_IsActive]  DEFAULT ((1)) FOR [IsActive]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KioskDevices_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KioskDevices] ADD  CONSTRAINT [DF_KioskDevices_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ShiftTemplates_Break]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ShiftTemplates] ADD  CONSTRAINT [DF_ShiftTemplates_Break]  DEFAULT ((0)) FOR [BreakMinutes]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ShiftTemplates_GraceB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ShiftTemplates] ADD  CONSTRAINT [DF_ShiftTemplates_GraceB]  DEFAULT ((30)) FOR [GraceBeforeMinutes]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ShiftTemplates_GraceA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ShiftTemplates] ADD  CONSTRAINT [DF_ShiftTemplates_GraceA]  DEFAULT ((60)) FOR [GraceAfterMinutes]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ShiftTemplates_IsActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ShiftTemplates] ADD  CONSTRAINT [DF_ShiftTemplates_IsActive]  DEFAULT ((1)) FOR [IsActive]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ShiftTemplates_Created]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ShiftTemplates] ADD  CONSTRAINT [DF_ShiftTemplates_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Users_IsOwner]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsOwner]  DEFAULT ((1)) FOR [IsOwner]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Users_IsActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Users_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayRateMultipliers_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayRateMultipliers] ADD  CONSTRAINT [DF_PayRateMultipliers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayBatch_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayrollBatches] ADD  CONSTRAINT [DF_PayBatch_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayBatch_Locked]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayrollBatches] ADD  CONSTRAINT [DF_PayBatch_Locked]  DEFAULT ((0)) FOR [IsLocked]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayLines_CreatedAt]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayrollLines] ADD  CONSTRAINT [DF_PayLines_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayLines_LateMinutes]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayrollLines] ADD  CONSTRAINT [DF_PayLines_LateMinutes]  DEFAULT ((0)) FOR [LateMinutes]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayLines_PenaltyAmount]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayrollLines] ADD  CONSTRAINT [DF_PayLines_PenaltyAmount]  DEFAULT ((0)) FOR [PenaltyAmount]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[DF_PayLines_NetPay]') AND type = 'D')
BEGIN
ALTER TABLE [pay].[PayrollLines] ADD  CONSTRAINT [DF_PayLines_NetPay]  DEFAULT ((0)) FOR [NetPay]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttEvents_Employee]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceEvents]'))
ALTER TABLE [att].[AttendanceEvents]  WITH CHECK ADD  CONSTRAINT [FK_AttEvents_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttEvents_Employee]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceEvents]'))
ALTER TABLE [att].[AttendanceEvents] CHECK CONSTRAINT [FK_AttEvents_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttEvents_Kiosk]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceEvents]'))
ALTER TABLE [att].[AttendanceEvents]  WITH CHECK ADD  CONSTRAINT [FK_AttEvents_Kiosk] FOREIGN KEY([KioskDeviceId])
REFERENCES [dbo].[KioskDevices] ([KioskDeviceId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttEvents_Kiosk]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceEvents]'))
ALTER TABLE [att].[AttendanceEvents] CHECK CONSTRAINT [FK_AttEvents_Kiosk]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttRec_Employee]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceRecords]'))
ALTER TABLE [att].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_AttRec_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttRec_Employee]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceRecords]'))
ALTER TABLE [att].[AttendanceRecords] CHECK CONSTRAINT [FK_AttRec_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttRec_ShiftTemplates]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceRecords]'))
ALTER TABLE [att].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_AttRec_ShiftTemplates] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[ShiftTemplates] ([ShiftId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[att].[FK_AttRec_ShiftTemplates]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceRecords]'))
ALTER TABLE [att].[AttendanceRecords] CHECK CONSTRAINT [FK_AttRec_ShiftTemplates]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeSchedules_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]'))
ALTER TABLE [dbo].[EmployeeSchedules]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSchedules_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeSchedules_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]'))
ALTER TABLE [dbo].[EmployeeSchedules] CHECK CONSTRAINT [FK_EmployeeSchedules_Employees]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeSchedules_ShiftTemplates]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]'))
ALTER TABLE [dbo].[EmployeeSchedules]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSchedules_ShiftTemplates] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[ShiftTemplates] ([ShiftId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeSchedules_ShiftTemplates]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeSchedules]'))
ALTER TABLE [dbo].[EmployeeSchedules] CHECK CONSTRAINT [FK_EmployeeSchedules_ShiftTemplates]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pay].[FK_PayBatch_User]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollBatches]'))
ALTER TABLE [pay].[PayrollBatches]  WITH CHECK ADD  CONSTRAINT [FK_PayBatch_User] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pay].[FK_PayBatch_User]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollBatches]'))
ALTER TABLE [pay].[PayrollBatches] CHECK CONSTRAINT [FK_PayBatch_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pay].[FK_PayLines_Batch]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollLines]'))
ALTER TABLE [pay].[PayrollLines]  WITH CHECK ADD  CONSTRAINT [FK_PayLines_Batch] FOREIGN KEY([PayrollBatchId])
REFERENCES [pay].[PayrollBatches] ([PayrollBatchId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pay].[FK_PayLines_Batch]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollLines]'))
ALTER TABLE [pay].[PayrollLines] CHECK CONSTRAINT [FK_PayLines_Batch]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pay].[FK_PayLines_Emp]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollLines]'))
ALTER TABLE [pay].[PayrollLines]  WITH CHECK ADD  CONSTRAINT [FK_PayLines_Emp] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pay].[FK_PayLines_Emp]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollLines]'))
ALTER TABLE [pay].[PayrollLines] CHECK CONSTRAINT [FK_PayLines_Emp]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[att].[CK_AttEvents_Type]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceEvents]'))
ALTER TABLE [att].[AttendanceEvents]  WITH CHECK ADD  CONSTRAINT [CK_AttEvents_Type] CHECK  (([EventType]=(2) OR [EventType]=(1)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[att].[CK_AttEvents_Type]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceEvents]'))
ALTER TABLE [att].[AttendanceEvents] CHECK CONSTRAINT [CK_AttEvents_Type]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[att].[CK_AttRec_Status]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceRecords]'))
ALTER TABLE [att].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_AttRec_Status] CHECK  (([Status]=(4) OR [Status]=(3) OR [Status]=(2) OR [Status]=(1)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[att].[CK_AttRec_Status]') AND parent_object_id = OBJECT_ID(N'[att].[AttendanceRecords]'))
ALTER TABLE [att].[AttendanceRecords] CHECK CONSTRAINT [CK_AttRec_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Employees_HourlyRate_Positive]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employees]'))
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_HourlyRate_Positive] CHECK  (([HourlyRate]>(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Employees_HourlyRate_Positive]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employees]'))
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_HourlyRate_Positive]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[pay].[CK_PayRateMultipliers_Multiplier]') AND parent_object_id = OBJECT_ID(N'[pay].[PayRateMultipliers]'))
ALTER TABLE [pay].[PayRateMultipliers]  WITH CHECK ADD  CONSTRAINT [CK_PayRateMultipliers_Multiplier] CHECK  (([Multiplier]>(0) AND [Multiplier]<=(10)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[pay].[CK_PayRateMultipliers_Multiplier]') AND parent_object_id = OBJECT_ID(N'[pay].[PayRateMultipliers]'))
ALTER TABLE [pay].[PayRateMultipliers] CHECK CONSTRAINT [CK_PayRateMultipliers_Multiplier]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[pay].[CK_PayBatch_Dates]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollBatches]'))
ALTER TABLE [pay].[PayrollBatches]  WITH CHECK ADD  CONSTRAINT [CK_PayBatch_Dates] CHECK  (([PeriodEnd]>=[PeriodStart]))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[pay].[CK_PayBatch_Dates]') AND parent_object_id = OBJECT_ID(N'[pay].[PayrollBatches]'))
ALTER TABLE [pay].[PayrollBatches] CHECK CONSTRAINT [CK_PayBatch_Dates]
GO
/****** Object:  StoredProcedure [att].[usp_AutoCheckoutOpenShifts]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[usp_AutoCheckoutOpenShifts]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [att].[usp_AutoCheckoutOpenShifts] AS' 
END
GO
ALTER PROCEDURE [att].[usp_AutoCheckoutOpenShifts]
    @GraceMinutes INT = NULL,      -- NULL: dùng ShiftTemplates.GraceAfterMinutes
    @MaxDaysBack  INT = 7,
    @AutoNextShiftWindowMinutes INT = 10   -- ✅ gap liên ca (10 phút)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Now DATETIME2(0) = SYSDATETIME();

    -- Kiosk system để ghi AttendanceEvents (nếu cần)
    DECLARE @SystemKioskDeviceId BIGINT = NULL;
    SELECT TOP 1 @SystemKioskDeviceId = KioskDeviceId
    FROM dbo.KioskDevices
    WHERE IsActive = 1
    ORDER BY KioskDeviceId;

    -- ✅ Lưu danh sách ca cần auto checkout
    -- (BỔ SUNG WorkDate + ShiftId để tìm ca kế tiếp)
    DECLARE @Due TABLE
    (
        AttendanceRecordId BIGINT PRIMARY KEY,
        EmployeeId         BIGINT NOT NULL,
        WorkDate           DATE   NOT NULL,
        ShiftId            INT    NOT NULL,
        CheckInTime        DATETIME2(0) NOT NULL,
        ShiftEndDT         DATETIME2(0) NOT NULL,
        BreakMinutes       INT NULL
    );

    INSERT INTO @Due (AttendanceRecordId, EmployeeId, WorkDate, ShiftId, CheckInTime, ShiftEndDT, BreakMinutes)
    SELECT
        r.AttendanceRecordId,
        r.EmployeeId,
        r.WorkDate,
        r.ShiftId,
        r.CheckInTime,
        ShiftEndDT =
            CASE
                WHEN s.StartTime <= s.EndTime
                    THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', s.EndTime), CAST(r.WorkDate AS DATETIME2(0)))
                ELSE
                    DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', s.EndTime), CAST(DATEADD(DAY, 1, r.WorkDate) AS DATETIME2(0)))
            END,
        s.BreakMinutes
    FROM att.AttendanceRecords r
    JOIN dbo.ShiftTemplates s
      ON s.ShiftId = r.ShiftId AND s.IsActive = 1
    WHERE r.CheckInTime IS NOT NULL
      AND r.CheckOutTime IS NULL
      AND r.WorkDate >= DATEADD(DAY, -@MaxDaysBack, CAST(@Now AS DATE))
      AND @Now >= DATEADD(
            MINUTE,
            ISNULL(@GraceMinutes, s.GraceAfterMinutes),
            CASE
                WHEN s.StartTime <= s.EndTime
                    THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', s.EndTime), CAST(r.WorkDate AS DATETIME2(0)))
                ELSE
                    DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', s.EndTime), CAST(DATEADD(DAY, 1, r.WorkDate) AS DATETIME2(0)))
            END
          );

    IF NOT EXISTS (SELECT 1 FROM @Due)
    BEGIN
        SELECT 0 AS AutoCheckedOutCount, 0 AS AutoOpenedNextShiftCount;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 1) AUTO OUT: cap checkout về ShiftEndDT để không tính lố (giữ như bản bạn)
    --------------------------------------------------------------------
    UPDATE r
       SET r.CheckOutTime = d.ShiftEndDT,
           r.MinutesWorked =
                CASE
                    WHEN DATEDIFF(MINUTE, d.CheckInTime, d.ShiftEndDT) - ISNULL(d.BreakMinutes,0) < 0 THEN 0
                    ELSE DATEDIFF(MINUTE, d.CheckInTime, d.ShiftEndDT) - ISNULL(d.BreakMinutes,0)
                END,
           r.Status = 1,
           r.UpdatedAt = SYSDATETIME()
    FROM att.AttendanceRecords r
    JOIN @Due d ON d.AttendanceRecordId = r.AttendanceRecordId;

    DECLARE @Updated INT = @@ROWCOUNT;

    --------------------------------------------------------------------
    -- 2) AUTO OPEN NEXT SHIFT (liên ca trong 10 phút)
    --    CHỈ mở ca kế nếu ca trước bị auto-out (tức nằm trong @Due)
    --------------------------------------------------------------------
    ;WITH NextShift AS
    (
        SELECT
            d.EmployeeId,
            es.WorkDate   AS NextWorkDate,
            es.ShiftId    AS NextShiftId,
            StartDT = CAST(
                        DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', st.StartTime), CAST(es.WorkDate AS DATETIME2(0)))
                     AS DATETIME2(0)),
            d.ShiftEndDT  AS PrevEndDT
        FROM @Due d
        JOIN dbo.EmployeeSchedules es
          ON es.EmployeeId = d.EmployeeId
        JOIN dbo.ShiftTemplates st
          ON st.ShiftId = es.ShiftId AND st.IsActive = 1
        WHERE
            -- ca kế tiếp bắt đầu sau khi ca trước kết thúc
            CAST(
                DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', st.StartTime), CAST(es.WorkDate AS DATETIME2(0)))
            AS DATETIME2(0)) > d.ShiftEndDT
            AND CAST(
                DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', st.StartTime), CAST(es.WorkDate AS DATETIME2(0)))
            AS DATETIME2(0)) <= DATEADD(MINUTE, @AutoNextShiftWindowMinutes, d.ShiftEndDT)
    )
    INSERT INTO att.AttendanceRecords(EmployeeId, WorkDate, ShiftId, CheckInTime, Status, UpdatedAt)
    SELECT
        n.EmployeeId,
        n.NextWorkDate,
        n.NextShiftId,
        n.StartDT,      -- ✅ coi như “liên tục”, check-in đúng giờ bắt đầu ca 2 => không bị phạt trễ
        2,
        SYSDATETIME()
    FROM NextShift n
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM att.AttendanceRecords r
        WHERE r.EmployeeId = n.EmployeeId
          AND r.WorkDate   = n.NextWorkDate
          AND r.ShiftId    = n.NextShiftId
    );

    DECLARE @AutoOpened INT = @@ROWCOUNT;

    --------------------------------------------------------------------
    -- 3) Ghi AttendanceEvents cho AUTO OUT + AUTO IN (nếu có kiosk system)
    --------------------------------------------------------------------
    IF @SystemKioskDeviceId IS NOT NULL
    BEGIN
        BEGIN TRY
            -- AUTO OUT
            INSERT INTO att.AttendanceEvents
                (EmployeeId, KioskDeviceId, EventType, EventTime, OtpCounter, ClientIp, UserAgent, Note)
            SELECT
                d.EmployeeId,
                @SystemKioskDeviceId,
                2,
                @Now,
                NULL, NULL, NULL,
                N'AUTO_OUT (system)'
            FROM @Due d;

            -- AUTO IN NEXT SHIFT (eventTime = StartDT)
            INSERT INTO att.AttendanceEvents
                (EmployeeId, KioskDeviceId, EventType, EventTime, OtpCounter, ClientIp, UserAgent, Note)
            SELECT
                r.EmployeeId,
                @SystemKioskDeviceId,
                1,
                r.CheckInTime,
                NULL, NULL, NULL,
                N'AUTO_IN_NEXT_SHIFT (system)'
            FROM att.AttendanceRecords r
            WHERE r.Status = 2
              AND r.UpdatedAt >= DATEADD(SECOND, -10, SYSDATETIME());
        END TRY
        BEGIN CATCH
            -- bỏ qua để job không fail
        END CATCH
    END

    SELECT @Updated AS AutoCheckedOutCount, @AutoOpened AS AutoOpenedNextShiftCount;
END
GO
/****** Object:  StoredProcedure [att].[usp_CheckIn]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[usp_CheckIn]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [att].[usp_CheckIn] AS' 
END
GO

ALTER PROCEDURE [att].[usp_CheckIn]
    @EmployeeCode   NVARCHAR(50),
    @Pin            NVARCHAR(20),
    @DeviceGuid     UNIQUEIDENTIFIER,
    @EventTime      DATETIME2(0) = NULL,
    @OtpCounter     BIGINT = NULL,
    @ClientIp       NVARCHAR(45) = NULL,
    @UserAgent      NVARCHAR(300) = NULL,
    @Note           NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @EventTime IS NULL SET @EventTime = SYSDATETIME();

    --------------------------------------------------------------------
    -- CONFIG
    --------------------------------------------------------------------
    DECLARE @WindowMinutes INT = 10; -- 10 phút đầu ca mới (được miễn trễ nếu liên ca)
    DECLARE @GapMinutes    INT = 10; -- gap giữa 2 ca (checkout ca cũ nằm trong 10 phút trước ca mới)
    DECLARE @EarlyGraceMinutes INT = 5; -- ✅ đến sớm trong 5 phút trước ca -> tính đúng giờ ca

    --------------------------------------------------------------------
    -- 0) Validate PIN format
    --------------------------------------------------------------------
    IF @Pin IS NULL OR LEN(@Pin) < 4 OR LEN(@Pin) > 6 OR @Pin LIKE '%[^0-9]%'
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'PIN không hợp lệ.' AS [message], NULL AS [data], 52001 AS errorCode;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 1) Resolve employee + verify PIN hash
    --------------------------------------------------------------------
    DECLARE @EmployeeId BIGINT, @PinSalt VARBINARY(16), @PinHash VARBINARY(32);
    SELECT @EmployeeId = e.EmployeeId, @PinSalt = e.PinSalt, @PinHash = e.PinHash
    FROM dbo.Employees e
    WHERE e.EmployeeCode = @EmployeeCode AND e.IsActive = 1;

    IF @EmployeeId IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Nhân viên không tồn tại hoặc đã nghỉ.' AS [message], NULL AS [data], 52002 AS errorCode;
        RETURN;
    END

    IF @PinSalt IS NULL OR @PinHash IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Nhân viên chưa có PIN. Chủ quán cần đặt PIN trước.' AS [message], NULL AS [data], 52003 AS errorCode;
        RETURN;
    END

    IF HASHBYTES('SHA2_256', @PinSalt + CONVERT(VARBINARY(200), @Pin)) <> @PinHash
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Sai PIN.' AS [message], NULL AS [data], 52004 AS errorCode;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 2) Resolve kiosk device
    --------------------------------------------------------------------
    DECLARE @KioskDeviceId BIGINT;
    SELECT @KioskDeviceId = k.KioskDeviceId
    FROM dbo.KioskDevices k
    WHERE k.DeviceGuid = @DeviceGuid AND k.IsActive = 1;

    IF @KioskDeviceId IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Kiosk device không tồn tại hoặc không hoạt động.' AS [message], NULL AS [data], 52005 AS errorCode;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 3) Resolve shift for this check-in event
    --------------------------------------------------------------------
    DECLARE @ShiftId INT, @WorkDate DATE, @BreakMinutes INT;
    SELECT @ShiftId = ShiftId, @WorkDate = WorkDate, @BreakMinutes = BreakMinutes
    FROM att.fn_ResolveShiftForCheckIn(@EmployeeId, @EventTime);

    IF @ShiftId IS NULL OR @WorkDate IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Không tìm thấy ca làm (hôm nay/hôm qua).' AS [message], NULL AS [data], 52006 AS errorCode;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 4) Compute ShiftStartDT / ShiftEndDT of this shift
    --------------------------------------------------------------------
    DECLARE @StartTime TIME(0), @EndTime TIME(0);
    SELECT
        @StartTime = s.StartTime,
        @EndTime   = s.EndTime,
        @BreakMinutes = ISNULL(@BreakMinutes, s.BreakMinutes)
    FROM dbo.ShiftTemplates s
    WHERE s.ShiftId = @ShiftId AND s.IsActive = 1;

    IF @StartTime IS NULL OR @EndTime IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Không lấy được giờ bắt đầu/kết thúc của ca.' AS [message], NULL AS [data], 52010 AS errorCode;
        RETURN;
    END

    DECLARE @ShiftStartDT DATETIME2(0) =
        DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @StartTime), CAST(@WorkDate AS DATETIME2(0)));

    DECLARE @ShiftEndDT DATETIME2(0) =
        CASE
            WHEN @StartTime <= @EndTime
                THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @EndTime), CAST(@WorkDate AS DATETIME2(0)))
            ELSE
                DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @EndTime), CAST(DATEADD(DAY,1,@WorkDate) AS DATETIME2(0)))
        END;

    BEGIN TRAN;

    --------------------------------------------------------------------
    -- 5) Nếu ca này đã có record thì chặn như cũ
    --------------------------------------------------------------------
    DECLARE @ExistingId BIGINT, @ExistingCheckIn DATETIME2(0), @ExistingCheckOut DATETIME2(0);
    SELECT
        @ExistingId = AttendanceRecordId,
        @ExistingCheckIn = CheckInTime,
        @ExistingCheckOut = CheckOutTime
    FROM att.AttendanceRecords WITH (UPDLOCK, HOLDLOCK)
    WHERE EmployeeId=@EmployeeId AND WorkDate=@WorkDate AND ShiftId=@ShiftId;

    IF @ExistingId IS NOT NULL AND @ExistingCheckOut IS NOT NULL
    BEGIN
        UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
        COMMIT;
        SELECT CAST(0 AS bit) AS ok, N'Bạn đã check-out ca này rồi. Không thể check-in lại.' AS [message], NULL AS [data], 52012 AS errorCode;
        RETURN;
    END

    IF @ExistingId IS NOT NULL AND @ExistingCheckIn IS NOT NULL
    BEGIN
        UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
        COMMIT;
        SELECT CAST(0 AS bit) AS ok, N'Bạn đã check-in rồi.' AS [message], NULL AS [data], 52011 AS errorCode;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 6) Tìm ca đang mở (giữ lại để phòng kẹt ca)
    --------------------------------------------------------------------
    DECLARE
        @OpenId BIGINT = NULL,
        @OpenShiftId INT = NULL,
        @OpenWorkDate DATE = NULL,
        @OpenCheckIn DATETIME2(0) = NULL;

    SELECT TOP 1
        @OpenId = r.AttendanceRecordId,
        @OpenShiftId = r.ShiftId,
        @OpenWorkDate = r.WorkDate,
        @OpenCheckIn = r.CheckInTime
    FROM att.AttendanceRecords r WITH (UPDLOCK, HOLDLOCK)
    WHERE r.EmployeeId = @EmployeeId
      AND r.CheckInTime IS NOT NULL
      AND r.CheckOutTime IS NULL
    ORDER BY r.CheckInTime DESC, r.AttendanceRecordId DESC;

    --------------------------------------------------------------------
    -- 7) Xác định EffectiveCheckInTime
    --    - Mặc định: giờ bấm
    --    - Early grace: đến sớm trong 5 phút trước giờ ca -> tính đúng giờ ca
    --    - Miễn trễ liên ca: bấm trễ trong 10 phút đầu ca mới và ca trước kết thúc đúng giờ
    --------------------------------------------------------------------
    DECLARE @EffectiveCheckInTime DATETIME2(0) = @EventTime;

    -- ✅ Early grace: đến sớm trong 5 phút trước giờ bắt đầu ca -> tính đúng giờ bắt đầu ca
    IF @EventTime >= DATEADD(MINUTE, -@EarlyGraceMinutes, @ShiftStartDT)
       AND @EventTime <  @ShiftStartDT
    BEGIN
        SET @EffectiveCheckInTime = @ShiftStartDT;
        IF @Note IS NULL SET @Note = N'EARLY_GRACE_CHECKIN_AT_SHIFT_START';
    END

    -- Chỉ xét miễn trễ nếu bấm trong 10 phút đầu ca mới (tức là trễ nhẹ)
    IF @EventTime > @ShiftStartDT
       AND @EventTime <= DATEADD(MINUTE, @WindowMinutes, @ShiftStartDT)
    BEGIN
        -- (A) Nếu vẫn còn ca mở: miễn trễ và auto close ca mở
        IF @OpenId IS NOT NULL AND @OpenShiftId <> @ShiftId
        BEGIN
            SET @EffectiveCheckInTime = @ShiftStartDT;

            DECLARE @OpenStart TIME(0), @OpenEnd TIME(0), @OpenBreak INT = 0;
            SELECT
                @OpenStart = st.StartTime,
                @OpenEnd   = st.EndTime,
                @OpenBreak = ISNULL(st.BreakMinutes,0)
            FROM dbo.ShiftTemplates st
            WHERE st.ShiftId = @OpenShiftId AND st.IsActive = 1;

            DECLARE @OpenShiftEndDT DATETIME2(0) =
                CASE
                    WHEN @OpenStart <= @OpenEnd
                        THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @OpenEnd), CAST(@OpenWorkDate AS DATETIME2(0)))
                    ELSE
                        DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @OpenEnd), CAST(DATEADD(DAY,1,@OpenWorkDate) AS DATETIME2(0)))
                END;

            DECLARE @OpenMinutesWorked INT =
                DATEDIFF(MINUTE, @OpenCheckIn, @OpenShiftEndDT) - ISNULL(@OpenBreak,0);
            IF @OpenMinutesWorked < 0 SET @OpenMinutesWorked = 0;

            UPDATE att.AttendanceRecords
            SET CheckOutTime = @OpenShiftEndDT,
                MinutesWorked = @OpenMinutesWorked,
                Status = 1,
                UpdatedAt = SYSDATETIME()
            WHERE AttendanceRecordId = @OpenId;

            INSERT INTO att.AttendanceEvents(EmployeeId, KioskDeviceId, EventType, EventTime, OtpCounter, ClientIp, UserAgent, Note)
            VALUES (@EmployeeId, @KioskDeviceId, 2, @EventTime, @OtpCounter, @ClientIp, @UserAgent, N'AUTO_CHECKOUT_FOR_TRANSITION');
        END
        ELSE
        BEGIN
            -- (B) Không có ca mở (thường do AutoCheckout): xét ca đã checkout gần nhất trước ca mới
            DECLARE @PrevRecordId BIGINT = NULL,
                    @PrevWorkDate DATE = NULL,
                    @PrevShiftId INT = NULL,
                    @PrevCheckOut DATETIME2(0) = NULL;

            SELECT TOP 1
                @PrevRecordId = r.AttendanceRecordId,
                @PrevWorkDate = r.WorkDate,
                @PrevShiftId  = r.ShiftId,
                @PrevCheckOut = r.CheckOutTime
            FROM att.AttendanceRecords r WITH (UPDLOCK, HOLDLOCK)
            WHERE r.EmployeeId = @EmployeeId
              AND r.CheckInTime IS NOT NULL
              AND r.CheckOutTime IS NOT NULL
              AND r.ShiftId <> @ShiftId
              AND r.CheckOutTime <= @ShiftStartDT
              AND r.CheckOutTime >= DATEADD(MINUTE, -@GapMinutes, @ShiftStartDT)
            ORDER BY r.CheckOutTime DESC, r.AttendanceRecordId DESC;

            IF @PrevRecordId IS NOT NULL
            BEGIN
                DECLARE @PrevStart TIME(0), @PrevEnd TIME(0);
                SELECT @PrevStart = st.StartTime, @PrevEnd = st.EndTime
                FROM dbo.ShiftTemplates st
                WHERE st.ShiftId = @PrevShiftId AND st.IsActive = 1;

                DECLARE @PrevShiftEndDT DATETIME2(0) =
                    CASE
                        WHEN @PrevStart <= @PrevEnd
                            THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @PrevEnd), CAST(@PrevWorkDate AS DATETIME2(0)))
                        ELSE
                            DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', @PrevEnd), CAST(DATEADD(DAY,1,@PrevWorkDate) AS DATETIME2(0)))
                    END;

                -- Cho sai số 60 giây để tránh lệch do làm tròn
                IF ABS(DATEDIFF(SECOND, @PrevCheckOut, @PrevShiftEndDT)) <= 60
                BEGIN
                    SET @EffectiveCheckInTime = @ShiftStartDT;
                    IF @Note IS NULL SET @Note = N'CONTINUOUS_SHIFT_NO_LATE (prev ended on time)';
                END
            END
        END
    END

    --------------------------------------------------------------------
    -- 8) Insert/Update AttendanceRecords for this shift
    --------------------------------------------------------------------
    IF @ExistingId IS NOT NULL
    BEGIN
        UPDATE att.AttendanceRecords
        SET CheckInTime = @EffectiveCheckInTime,
            Status = 2,
            UpdatedAt = SYSDATETIME()
        WHERE AttendanceRecordId = @ExistingId;
    END
    ELSE
    BEGIN
        INSERT INTO att.AttendanceRecords
            (EmployeeId, WorkDate, ShiftId, CheckInTime, CheckOutTime, MinutesWorked, Status, CreatedAt, UpdatedAt)
        VALUES
            (@EmployeeId, @WorkDate, @ShiftId, @EffectiveCheckInTime, NULL, NULL, 2, SYSDATETIME(), SYSDATETIME());
    END

    -- Log event theo giờ bấm thực tế (audit)
    INSERT INTO att.AttendanceEvents(EmployeeId, KioskDeviceId, EventType, EventTime, OtpCounter, ClientIp, UserAgent, Note)
    VALUES
        (@EmployeeId, @KioskDeviceId, 1, @EventTime, @OtpCounter, @ClientIp, @UserAgent,
         CASE
           WHEN @EffectiveCheckInTime = @ShiftStartDT AND @EventTime > @ShiftStartDT
             THEN N'AUTO_TRANSITION_CHECKIN_AT_SHIFT_START'
           ELSE @Note
         END);

    UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;

    COMMIT;

    SELECT CAST(1 AS bit) AS ok, N'Check-in thành công' AS [message], NULL AS [data], NULL AS errorCode;
END
GO
/****** Object:  StoredProcedure [att].[usp_CheckOut]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[att].[usp_CheckOut]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [att].[usp_CheckOut] AS' 
END
GO
ALTER PROCEDURE [att].[usp_CheckOut]
    @EmployeeCode   NVARCHAR(50),
    @Pin            NVARCHAR(20),
    @DeviceGuid     UNIQUEIDENTIFIER,
    @EventTime      DATETIME2(0) = NULL,
    @OtpCounter     BIGINT = NULL,
    @ClientIp       NVARCHAR(45) = NULL,
    @UserAgent      NVARCHAR(300) = NULL,
    @Note           NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @EventTime IS NULL SET @EventTime = SYSDATETIME();

    -- 0) Validate PIN format
    IF @Pin IS NULL OR LEN(@Pin) < 4 OR LEN(@Pin) > 6 OR @Pin LIKE '%[^0-9]%'
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'PIN không hợp lệ.' AS [message], NULL AS [data], 53001 AS errorCode;
        RETURN;
    END

    -- 1) Resolve employee + verify PIN
    DECLARE @EmployeeId BIGINT, @PinSalt VARBINARY(16), @PinHash VARBINARY(32);
    SELECT @EmployeeId = e.EmployeeId, @PinSalt = e.PinSalt, @PinHash = e.PinHash
    FROM dbo.Employees e
    WHERE e.EmployeeCode = @EmployeeCode AND e.IsActive = 1;

    IF @EmployeeId IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Nhân viên không tồn tại hoặc đã nghỉ.' AS [message], NULL AS [data], 53002 AS errorCode;
        RETURN;
    END

    IF @PinSalt IS NULL OR @PinHash IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Nhân viên chưa có PIN. Chủ quán cần đặt PIN trước.' AS [message], NULL AS [data], 53003 AS errorCode;
        RETURN;
    END

    IF HASHBYTES('SHA2_256', @PinSalt + CONVERT(VARBINARY(200), @Pin)) <> @PinHash
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Sai PIN.' AS [message], NULL AS [data], 53004 AS errorCode;
        RETURN;
    END

    -- 2) Resolve kiosk device
    DECLARE @KioskDeviceId BIGINT;
    SELECT @KioskDeviceId = k.KioskDeviceId
    FROM dbo.KioskDevices k
    WHERE k.DeviceGuid = @DeviceGuid AND k.IsActive = 1;

    IF @KioskDeviceId IS NULL
    BEGIN
        SELECT CAST(0 AS bit) AS ok, N'Kiosk device không tồn tại hoặc không hoạt động.' AS [message], NULL AS [data], 53005 AS errorCode;
        RETURN;
    END

    BEGIN TRAN;

    DECLARE
        @AttendanceRecordId BIGINT = NULL,
        @ShiftId INT = NULL,
        @WorkDate DATE = NULL,
        @BreakMinutes INT = 0,
        @CheckInTime DATETIME2(0) = NULL,
        @ExistingCheckOut DATETIME2(0) = NULL;

    --------------------------------------------------------------------
    -- 3) Ưu tiên đóng "ca đang mở" (CheckOutTime IS NULL)
    --------------------------------------------------------------------
    SELECT TOP 1
        @AttendanceRecordId = r.AttendanceRecordId,
        @ShiftId = r.ShiftId,
        @WorkDate = r.WorkDate,
        @CheckInTime = r.CheckInTime,
        @ExistingCheckOut = r.CheckOutTime
    FROM att.AttendanceRecords r WITH (UPDLOCK, HOLDLOCK)
    WHERE r.EmployeeId = @EmployeeId
      AND r.CheckInTime IS NOT NULL
      AND r.CheckOutTime IS NULL
    ORDER BY r.CheckInTime DESC, r.AttendanceRecordId DESC;

    --------------------------------------------------------------------
    -- 4) Nếu không có ca mở, fallback: resolve theo thời gian (như cũ)
    --------------------------------------------------------------------
    IF @AttendanceRecordId IS NULL
    BEGIN
        SELECT @ShiftId = ShiftId, @WorkDate = WorkDate, @BreakMinutes = BreakMinutes
        FROM att.fn_ResolveShiftForCheckOut(@EmployeeId, @EventTime);

        IF @ShiftId IS NULL OR @WorkDate IS NULL
        BEGIN
            UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
            COMMIT;
            SELECT CAST(0 AS bit) AS ok, N'Không tìm thấy ca làm (hôm nay/hôm qua).' AS [message], NULL AS [data], 53006 AS errorCode;
            RETURN;
        END

        SELECT TOP 1
            @AttendanceRecordId = AttendanceRecordId,
            @CheckInTime = CheckInTime,
            @ExistingCheckOut = CheckOutTime
        FROM att.AttendanceRecords WITH (UPDLOCK, HOLDLOCK)
        WHERE EmployeeId=@EmployeeId AND WorkDate=@WorkDate AND ShiftId=@ShiftId
          AND CheckInTime IS NOT NULL
        ORDER BY AttendanceRecordId DESC;
    END

    --------------------------------------------------------------------
    -- 5) Validate record state
    --------------------------------------------------------------------
    IF @AttendanceRecordId IS NULL
    BEGIN
        UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
        COMMIT;
        SELECT CAST(0 AS bit) AS ok, N'Bạn chưa check-in nên không thể check-out.' AS [message], NULL AS [data], 53007 AS errorCode;
        RETURN;
    END

    IF @ExistingCheckOut IS NOT NULL
    BEGIN
        UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
        COMMIT;
        SELECT CAST(0 AS bit) AS ok, N'Bạn đã check-out ca này rồi.' AS [message], NULL AS [data], 53011 AS errorCode;
        RETURN;
    END

    IF @EventTime <= @CheckInTime
    BEGIN
        UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
        COMMIT;
        SELECT CAST(0 AS bit) AS ok, N'Giờ check-out phải sau giờ check-in.' AS [message], NULL AS [data], 53008 AS errorCode;
        RETURN;
    END

    --------------------------------------------------------------------
    -- 6) Tính ShiftEndDT + Không OT: cap checkout muộn về ShiftEndDT
    --    Checkout sớm vẫn tính đúng theo giờ thực tế
    --------------------------------------------------------------------
    DECLARE @StartTime TIME(0), @EndTime TIME(0);
    SELECT
        @StartTime = s.StartTime,
        @EndTime   = s.EndTime,
        @BreakMinutes = ISNULL(@BreakMinutes, s.BreakMinutes)
    FROM dbo.ShiftTemplates s
    WHERE s.ShiftId = @ShiftId AND s.IsActive = 1;

    IF @StartTime IS NULL OR @EndTime IS NULL
    BEGIN
        UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;
        COMMIT;
        SELECT CAST(0 AS bit) AS ok, N'Không lấy được giờ bắt đầu/kết thúc của ca.' AS [message], NULL AS [data], 53010 AS errorCode;
        RETURN;
    END

    DECLARE @ShiftEndDT DATETIME2(0) =
        CASE
            WHEN @StartTime <= @EndTime
                THEN DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', @EndTime), CAST(@WorkDate AS DATETIME2(0)))
            ELSE
                DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', @EndTime), CAST(DATEADD(DAY, 1, @WorkDate) AS DATETIME2(0)))
        END;

    -- ✅ Không OT:
    -- - Nếu checkout sớm: dùng @EventTime
    -- - Nếu checkout muộn: cap về @ShiftEndDT
    DECLARE @EffectiveOutTime DATETIME2(0) =
        CASE
            WHEN @EventTime > @ShiftEndDT THEN @ShiftEndDT
            ELSE @EventTime
        END;

    DECLARE @MinutesWorked INT;
    SET @MinutesWorked = DATEDIFF(MINUTE, @CheckInTime, @EffectiveOutTime) - ISNULL(@BreakMinutes,0);
    IF @MinutesWorked < 0 SET @MinutesWorked = 0;

    UPDATE att.AttendanceRecords
    SET CheckOutTime = @EffectiveOutTime,
        MinutesWorked = @MinutesWorked,
        Status = 1,
        UpdatedAt = SYSDATETIME()
    WHERE AttendanceRecordId = @AttendanceRecordId;

    INSERT INTO att.AttendanceEvents(EmployeeId, KioskDeviceId, EventType, EventTime, OtpCounter, ClientIp, UserAgent, Note)
    VALUES (@EmployeeId, @KioskDeviceId, 2, @EventTime, @OtpCounter, @ClientIp, @UserAgent, @Note);

    UPDATE dbo.KioskDevices SET LastSeenAt = SYSDATETIME() WHERE KioskDeviceId = @KioskDeviceId;

    COMMIT;

    SELECT CAST(1 AS bit) AS ok, N'Check-out thành công' AS [message], NULL AS [data], NULL AS errorCode;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Employee_Create]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Employee_Create]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Employee_Create] AS' 
END
GO

-- Create: EmployeeCode auto-generated
ALTER   PROCEDURE [dbo].[usp_Employee_Create]
    @FullName     NVARCHAR(200),
    @Phone        NVARCHAR(30) = NULL,
    @HourlyRate   DECIMAL(18,2),
    @Pin          NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @FullName IS NULL OR LTRIM(RTRIM(@FullName)) = ''
        THROW 54002, 'FullName is required.', 1;

    IF @HourlyRate IS NULL OR @HourlyRate <= 0
        THROW 54005, 'HourlyRate must be > 0.', 1;

    BEGIN TRAN;

    INSERT INTO dbo.Employees(EmployeeCode, FullName, Phone, HourlyRate)
    VALUES (NULL, @FullName, @Phone, @HourlyRate);

    DECLARE @EmployeeId BIGINT = SCOPE_IDENTITY();

    -- Safety: in case trigger is disabled, generate here
    UPDATE dbo.Employees
    SET EmployeeCode = 'NV' + RIGHT(REPLICATE('0', 3) + CONVERT(VARCHAR(10), @EmployeeId), 3)
    WHERE EmployeeId = @EmployeeId
      AND (EmployeeCode IS NULL OR LTRIM(RTRIM(EmployeeCode)) = '');

    DECLARE @EmployeeCode NVARCHAR(50);
    SELECT @EmployeeCode = EmployeeCode
    FROM dbo.Employees
    WHERE EmployeeId = @EmployeeId;

    IF @Pin IS NOT NULL AND LTRIM(RTRIM(@Pin)) <> ''
        EXEC dbo.usp_SetEmployeePin @EmployeeCode = @EmployeeCode, @NewPin = @Pin;

    COMMIT;

    SELECT
        EmployeeId,
        EmployeeCode,
        FullName,
        Phone,
        HourlyRate,
        IsActive,
        PinChangedAt,
        CreatedAt,
        RowVer
    FROM dbo.Employees
    WHERE EmployeeId = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Employee_Delete]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Employee_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Employee_Delete] AS' 
END
GO

ALTER   PROCEDURE [dbo].[usp_Employee_Delete]
    @EmployeeId BIGINT,
    @HardDelete BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @EmployeeId IS NULL OR @EmployeeId <= 0
        THROW 54010, 'EmployeeId is required.', 1;

    IF NOT EXISTS (SELECT 1 FROM dbo.Employees WHERE EmployeeId = @EmployeeId)
        THROW 54011, 'Employee not found.', 1;

    IF @HardDelete = 1
    BEGIN
        IF EXISTS (SELECT 1 FROM att.AttendanceEvents WHERE EmployeeId = @EmployeeId)
           OR EXISTS (SELECT 1 FROM att.AttendanceRecords WHERE EmployeeId = @EmployeeId)
           OR EXISTS (SELECT 1 FROM pay.PayrollLines WHERE EmployeeId = @EmployeeId)
        BEGIN
            THROW 54020, 'Cannot hard delete employee because related attendance/payroll exists.', 1;
        END

        DELETE FROM dbo.Employees WHERE EmployeeId = @EmployeeId;
        RETURN;
    END

    UPDATE dbo.Employees
    SET IsActive = 0
    WHERE EmployeeId = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Employee_List]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Employee_List]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Employee_List] AS' 
END
GO

------------------------------------------------------------
-- 7) EMPLOYEES CRUD (for Owner UI)
------------------------------------------------------------
ALTER   PROCEDURE [dbo].[usp_Employee_List]
    @IncludeInactive BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        EmployeeId,
        EmployeeCode,
        FullName,
        Phone,
        HourlyRate,
        IsActive,
        PinChangedAt,
        CreatedAt,
        RowVer
    FROM dbo.Employees
    WHERE (@IncludeInactive = 1 OR IsActive = 1)
    ORDER BY IsActive DESC, EmployeeCode ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Employee_Update]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Employee_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Employee_Update] AS' 
END
GO

-- Update: do NOT allow changing EmployeeCode
ALTER   PROCEDURE [dbo].[usp_Employee_Update]
    @EmployeeId   BIGINT,
    @FullName     NVARCHAR(200),
    @Phone        NVARCHAR(30) = NULL,
    @HourlyRate   DECIMAL(18,2),
    @IsActive     BIT,
    @Pin          NVARCHAR(20) = NULL,
    @RowVer       VARBINARY(8) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @EmployeeId IS NULL OR @EmployeeId <= 0
        THROW 54010, 'EmployeeId is required.', 1;

    IF @FullName IS NULL OR LTRIM(RTRIM(@FullName)) = ''
        THROW 54002, 'FullName is required.', 1;

    IF @HourlyRate IS NULL OR @HourlyRate <= 0
        THROW 54005, 'HourlyRate must be > 0.', 1;

    IF NOT EXISTS (SELECT 1 FROM dbo.Employees WHERE EmployeeId = @EmployeeId)
        THROW 54011, 'Employee not found.', 1;

    BEGIN TRAN;

    IF @RowVer IS NULL
    BEGIN
        UPDATE dbo.Employees
        SET FullName   = @FullName,
            Phone      = @Phone,
            HourlyRate = @HourlyRate,
            IsActive   = @IsActive
        WHERE EmployeeId = @EmployeeId;
    END
    ELSE
    BEGIN
        UPDATE dbo.Employees
        SET FullName   = @FullName,
            Phone      = @Phone,
            HourlyRate = @HourlyRate,
            IsActive   = @IsActive
        WHERE EmployeeId = @EmployeeId
          AND RowVer     = @RowVer;

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK;
            THROW 54012, 'Data changed. Please reload and try again.', 1;
        END
    END

    IF @IsActive = 1 AND @Pin IS NOT NULL AND LTRIM(RTRIM(@Pin)) <> ''
    BEGIN
        DECLARE @EmployeeCode NVARCHAR(50);
        SELECT @EmployeeCode = EmployeeCode FROM dbo.Employees WHERE EmployeeId = @EmployeeId;
        EXEC dbo.usp_SetEmployeePin @EmployeeCode = @EmployeeCode, @NewPin = @Pin;
    END

    COMMIT;

    SELECT
        EmployeeId,
        EmployeeCode,
        FullName,
        Phone,
        HourlyRate,
        IsActive,
        PinChangedAt,
        CreatedAt,
        RowVer
    FROM dbo.Employees
    WHERE EmployeeId = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Schedule_Delete]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Schedule_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Schedule_Delete] AS' 
END
GO
ALTER   PROCEDURE [dbo].[usp_Schedule_Delete]
        @EmployeeId BIGINT,
        @WorkDate   DATE
    AS
    BEGIN
        SET NOCOUNT ON;
        SET XACT_ABORT ON;

        DELETE dbo.EmployeeSchedules
        WHERE EmployeeId = @EmployeeId
          AND WorkDate   = @WorkDate;
    END;

GO
/****** Object:  StoredProcedure [dbo].[usp_Schedule_DeleteById]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Schedule_DeleteById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Schedule_DeleteById] AS' 
END
GO
ALTER   PROCEDURE [dbo].[usp_Schedule_DeleteById]
        @ScheduleId BIGINT
    AS
    BEGIN
        SET NOCOUNT ON;
        SET XACT_ABORT ON;

        DELETE dbo.EmployeeSchedules
        WHERE ScheduleId = @ScheduleId;
    END;

GO
/****** Object:  StoredProcedure [dbo].[usp_Schedule_List]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Schedule_List]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Schedule_List] AS' 
END
GO
ALTER   PROCEDURE [dbo].[usp_Schedule_List]
        @DateFrom   DATE,
        @DateTo     DATE,
        @EmployeeId BIGINT
    AS
    BEGIN
        SET NOCOUNT ON;

        SELECT s.ScheduleId, s.EmployeeId, s.WorkDate, s.ShiftId, s.Note, s.RowVer,
               sh.ShiftCode, sh.ShiftName, sh.StartTime, sh.EndTime
        FROM dbo.EmployeeSchedules s
        JOIN dbo.ShiftTemplates sh ON sh.ShiftId = s.ShiftId
        WHERE s.WorkDate >= @DateFrom
          AND s.WorkDate <= @DateTo
          AND s.EmployeeId = @EmployeeId
        ORDER BY s.WorkDate, sh.StartTime, s.ScheduleId;
    END;

GO
/****** Object:  StoredProcedure [dbo].[usp_Schedule_Upsert]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Schedule_Upsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Schedule_Upsert] AS' 
END
GO
ALTER   PROCEDURE [dbo].[usp_Schedule_Upsert]
        @EmployeeId BIGINT,
        @WorkDate   DATE,
        @ShiftId    INT,
        @Note       NVARCHAR(200) = NULL,
        @ScheduleId BIGINT = NULL
    AS
    BEGIN
        SET NOCOUNT ON;
        SET XACT_ABORT ON;

        IF @ScheduleId IS NOT NULL AND @ScheduleId > 0
        BEGIN
            UPDATE dbo.EmployeeSchedules
            SET EmployeeId = @EmployeeId,
                WorkDate   = @WorkDate,
                ShiftId    = @ShiftId,
                Note       = @Note
            WHERE ScheduleId = @ScheduleId;
        END
        ELSE
        BEGIN
            -- Avoid duplicate same shift in same day (because of UNIQUE index EmployeeId+WorkDate+ShiftId)
            SELECT TOP 1 @ScheduleId = ScheduleId
            FROM dbo.EmployeeSchedules
            WHERE EmployeeId = @EmployeeId
              AND WorkDate   = @WorkDate
              AND ShiftId    = @ShiftId;

            IF @ScheduleId IS NULL
            BEGIN
                INSERT INTO dbo.EmployeeSchedules(EmployeeId, WorkDate, ShiftId, Note)
                VALUES(@EmployeeId, @WorkDate, @ShiftId, @Note);

                SET @ScheduleId = SCOPE_IDENTITY();
            END
        END

        SELECT s.ScheduleId, s.EmployeeId, s.WorkDate, s.ShiftId, s.Note, s.RowVer
        FROM dbo.EmployeeSchedules s
        WHERE s.ScheduleId = @ScheduleId;
    END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Schedule_WeekAll]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Schedule_WeekAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Schedule_WeekAll] AS' 
END
GO
ALTER   PROCEDURE [dbo].[usp_Schedule_WeekAll]
        @DateFrom DATE,
        @DateTo DATE,
        @IncludeInactiveEmployees BIT = 0
    AS
    BEGIN
        SET NOCOUNT ON;

        SELECT
            s.ScheduleId,
            s.EmployeeId,
            CONVERT(char(10), s.WorkDate, 23) AS WorkDate,          -- yyyy-MM-dd
            s.ShiftId,
            sh.ShiftCode,
            sh.ShiftName,
            CONVERT(char(5), sh.StartTime, 108) AS StartTime,       -- HH:mm
            CONVERT(char(5), sh.EndTime, 108) AS EndTime,           -- HH:mm
            s.Note
        FROM dbo.EmployeeSchedules s
        JOIN dbo.Employees e ON e.EmployeeId = s.EmployeeId
        JOIN dbo.ShiftTemplates sh ON sh.ShiftId = s.ShiftId
        WHERE s.WorkDate >= @DateFrom
          AND s.WorkDate <= @DateTo
          AND (e.IsActive = 1 OR @IncludeInactiveEmployees = 1)
        ORDER BY e.FullName, s.WorkDate, sh.StartTime, s.ScheduleId;
    END;
GO
/****** Object:  StoredProcedure [dbo].[usp_SetEmployeePin]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SetEmployeePin]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_SetEmployeePin] AS' 
END
GO

------------------------------------------------------------
-- 3) EMPLOYEE PIN MANAGEMENT
------------------------------------------------------------
ALTER   PROCEDURE [dbo].[usp_SetEmployeePin]
    @EmployeeCode NVARCHAR(50),
    @NewPin       NVARCHAR(20)   -- 4-6 digits
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @NewPin IS NULL OR LEN(@NewPin) < 4 OR LEN(@NewPin) > 6
        THROW 51001, 'PIN must be 4-6 digits.', 1;

    IF @NewPin LIKE '%[^0-9]%'
        THROW 51002, 'PIN must contain digits only.', 1;

    DECLARE @EmployeeId BIGINT;
    SELECT @EmployeeId = EmployeeId
    FROM dbo.Employees
    WHERE EmployeeCode = @EmployeeCode AND IsActive = 1;

    IF @EmployeeId IS NULL
        THROW 51003, 'Employee not found or inactive.', 1;

    DECLARE @Salt VARBINARY(16) = CRYPT_GEN_RANDOM(16);
    DECLARE @Hash VARBINARY(32) = HASHBYTES('SHA2_256', @Salt + CONVERT(VARBINARY(200), @NewPin));

    UPDATE dbo.Employees
    SET PinSalt = @Salt,
        PinHash = @Hash,
        PinChangedAt = SYSDATETIME()
    WHERE EmployeeId = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Shift_List]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Shift_List]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_Shift_List] AS' 
END
GO
ALTER   PROCEDURE [dbo].[usp_Shift_List]
    @IncludeInactive BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ShiftId, ShiftCode, ShiftName, StartTime, EndTime, BreakMinutes,
           GraceBeforeMinutes, GraceAfterMinutes, IsActive, CreatedAt, RowVer
    FROM dbo.ShiftTemplates
    WHERE IsActive = 1 OR @IncludeInactive = 1
    ORDER BY StartTime, ShiftName;
END
GO
/****** Object:  StoredProcedure [pay].[usp_CalcPayrollBatch]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[usp_CalcPayrollBatch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [pay].[usp_CalcPayrollBatch] AS' 
END
GO
ALTER PROCEDURE [pay].[usp_CalcPayrollBatch]
    @PayrollBatchId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Start DATE, @End DATE, @Locked BIT;

    SELECT
        @Start  = PeriodStart,
        @End    = PeriodEnd,
        @Locked = IsLocked
    FROM pay.PayrollBatches
    WHERE PayrollBatchId = @PayrollBatchId;

    IF @Start IS NULL
        THROW 50111, 'Payroll batch not found.', 1;

    IF @Locked = 1
        THROW 50112, 'Payroll batch is locked.', 1;

    BEGIN TRAN;

    DELETE FROM pay.PayrollLines
    WHERE PayrollBatchId = @PayrollBatchId;

    ;WITH src AS
    (
        SELECT
            e.EmployeeId,
            e.HourlyRate,

            ar.MinutesWorked,
            ar.WorkDate,
            ar.CheckInTime,
            s.StartTime,

            ISNULL(m.Multiplier, 1.00) AS PayMultiplier
        FROM dbo.Employees e
        JOIN att.AttendanceRecords ar ON ar.EmployeeId = e.EmployeeId
        JOIN dbo.ShiftTemplates s     ON s.ShiftId = ar.ShiftId
        LEFT JOIN pay.PayRateMultipliers m ON m.WorkDate = ar.WorkDate
        WHERE e.IsActive = 1
          AND ar.Status = 1
          AND ar.MinutesWorked IS NOT NULL
          AND ar.WorkDate >= @Start
          AND ar.WorkDate <= @End
    )
    INSERT INTO pay.PayrollLines
    (
        PayrollBatchId,
        EmployeeId,
        TotalMinutes,
        GrossPay,
        LateMinutes,
        PenaltyAmount,
        NetPay
    )
    SELECT
        @PayrollBatchId,
        EmployeeId,
        SUM(MinutesWorked) AS TotalMinutes,

        -- GrossPay: tính theo từng ngày (từng dòng) rồi SUM (đúng khi có multiplier)
        CAST(
            ROUND(
                SUM( (MinutesWorked / 60.0) * HourlyRate * PayMultiplier )
            , 2)
        AS DECIMAL(18,2)) AS GrossPay,

        SUM(att.fn_LateMinutes(WorkDate, StartTime, CheckInTime)) AS LateMinutes,

        CAST(
            SUM(att.fn_LateMinutes(WorkDate, StartTime, CheckInTime)) * 1000
        AS DECIMAL(18,2)) AS PenaltyAmount,

        -- NetPay: tổng gross - tổng phạt (giữ logic không âm như bạn đang dùng)
        CAST(
            CASE
                WHEN ROUND(SUM( (MinutesWorked / 60.0) * HourlyRate * PayMultiplier ), 2)
                     - (SUM(att.fn_LateMinutes(WorkDate, StartTime, CheckInTime)) * 1000) < 0
                    THEN 0
                ELSE ROUND(SUM( (MinutesWorked / 60.0) * HourlyRate * PayMultiplier ), 2)
                     - (SUM(att.fn_LateMinutes(WorkDate, StartTime, CheckInTime)) * 1000)
            END
        AS DECIMAL(18,2)) AS NetPay
    FROM src
    GROUP BY EmployeeId, HourlyRate;

    COMMIT;
END
GO
/****** Object:  StoredProcedure [pay].[usp_CreatePayrollBatch]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[usp_CreatePayrollBatch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [pay].[usp_CreatePayrollBatch] AS' 
END
GO

------------------------------------------------------------
-- 6) PAYROLL (actual minutes * hourly rate)
------------------------------------------------------------
ALTER   PROCEDURE [pay].[usp_CreatePayrollBatch]
    @PeriodStart DATE,
    @PeriodEnd   DATE,
    @CreatedByUserId BIGINT,
    @Note NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @PeriodEnd < @PeriodStart
        THROW 50101, 'PeriodEnd must be >= PeriodStart.', 1;

    INSERT INTO pay.PayrollBatches(PeriodStart, PeriodEnd, CreatedByUserId, Note)
    VALUES (@PeriodStart, @PeriodEnd, @CreatedByUserId, @Note);

    SELECT SCOPE_IDENTITY() AS PayrollBatchId;
END
GO
/****** Object:  StoredProcedure [pay].[usp_PayMultiplier_Delete]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[usp_PayMultiplier_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [pay].[usp_PayMultiplier_Delete] AS' 
END
GO

ALTER   PROCEDURE [pay].[usp_PayMultiplier_Delete]
    @WorkDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM pay.PayRateMultipliers WHERE WorkDate = @WorkDate;
END
GO
/****** Object:  StoredProcedure [pay].[usp_PayMultiplier_List]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[usp_PayMultiplier_List]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [pay].[usp_PayMultiplier_List] AS' 
END
GO

ALTER   PROCEDURE [pay].[usp_PayMultiplier_List]
    @DateFrom DATE,
    @DateTo   DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT WorkDate, Multiplier, Note
    FROM pay.PayRateMultipliers
    WHERE WorkDate >= @DateFrom AND WorkDate <= @DateTo
    ORDER BY WorkDate;
END
GO
/****** Object:  StoredProcedure [pay].[usp_PayMultiplier_Upsert]    Script Date: 2/4/2026 10:44:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pay].[usp_PayMultiplier_Upsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [pay].[usp_PayMultiplier_Upsert] AS' 
END
GO
ALTER   PROCEDURE [pay].[usp_PayMultiplier_Upsert]
    @WorkDate   DATE,
    @Multiplier DECIMAL(5,2),
    @Note       NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @WorkDate IS NULL THROW 56001, 'WorkDate is required.', 1;
    IF @Multiplier IS NULL OR @Multiplier <= 0 OR @Multiplier > 10
        THROW 56002, 'Multiplier must be between 0 and 10.', 1;

    MERGE pay.PayRateMultipliers AS t
    USING (SELECT @WorkDate AS WorkDate) AS s
    ON t.WorkDate = s.WorkDate
    WHEN MATCHED THEN
        UPDATE SET Multiplier = @Multiplier, Note = @Note, UpdatedAt = SYSDATETIME()
    WHEN NOT MATCHED THEN
        INSERT (WorkDate, Multiplier, Note) VALUES (@WorkDate, @Multiplier, @Note);
END
GO
USE [master]
GO
